/**
 * The `.author` aside is always pushed underneath the content below the medium
 * breakpoint.
 */
/*aside*/
.author {
    font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-family: var(--font-family-default);
}

@media screen and (max-width: 800px) {
    .author {
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
            -ms-flex-direction: column;
                flex-direction: column;
        -webkit-box-ordinal-group: 1000;
            -ms-flex-order: 999;
                order: 999;
        margin-top: 2.25rem;
        margin-top: var(--measure-large);
    }
}

/**
 * More information about the Author
 */
.author-information {
    font-family: Georgia, serif;
    font-family: var(--font-family-serif);
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin-bottom: 1.25rem;
    margin-bottom: var(--measure-medium);
    font-size: 0.875rem;
    font-size: var(--font-size-small);
    font-style: italic;
    line-height: 1.429;
    line-height: var(--line-height-medium);
}

@media screen and (max-width: 800px) {
    .author-information {
        padding-top: 2.25rem;
        padding-top: var(--measure-large);
        border-top-width: 0.125rem;
        border-top-width: var(--border-width-thin);
        border-top-style: solid;
        border-top-style: var(--border-style-default);
        border-top-color: rgba(6, 6, 6, 0.1);
        border-top-color: var(--color-black--gamma);
        margin-bottom: 0.625rem;
        margin-bottom: var(--measure-small);
    }
}

.author-information a,
.author-information strong {
    text-transform: uppercase;
    letter-spacing: 0;
    font-family: "Proxima Nova", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
    font-family: var(--font-family-default);
    color: inherit;
    font-style: normal;
    font-weight: 600;
    font-weight: var(--font-weight-bold);
}

.author-information a {
    -webkit-text-decoration-color: transparent;
            text-decoration-color: transparent;
    -webkit-text-decoration-color: var(--color-transparent);
            text-decoration-color: var(--color-transparent);
}

.author-information a:hover, .author-information a:focus, .author-information a:active {
    -webkit-text-decoration-color: #ff0000;
            text-decoration-color: #ff0000;
    -webkit-text-decoration-color: var(--color-canada);
            text-decoration-color: var(--color-canada);
}

.author-information a:active {
    color: #f9f9f9;
    color: var(--color-white);
}

/**
 * Photograph of MY FACE
 */
.author-image {
    background-clip: padding-box;
    border-radius: 50%;
    background-image: -webkit-gradient(linear, left bottom, right top, from(transparent), to(#99c0e2)), -webkit-gradient(linear, right top, left bottom, from(transparent), to(#9d858b)), -webkit-gradient(linear, left top, right bottom, from(transparent), to(#5990ad)), -webkit-gradient(linear, right bottom, left top, from(transparent), to(#89634f));
    background-image: linear-gradient(to top right, transparent, #99c0e2), linear-gradient(to bottom left, transparent, #9d858b), linear-gradient(to bottom right, transparent, #5990ad), linear-gradient(to top left, transparent, #89634f);
    background-size: 100%;
    width: 6.25rem;
    height: 6.25rem;
    float: left;
    text-decoration: none;
}

@supports ((-webkit-shape-outside: circle(50%)) or (shape-outside: circle(50%))) {
    .author-image {
        background-image: none;
        -webkit-shape-outside: circle(50%);
                shape-outside: circle(50%);
    }
}

@media screen and (max-width: 800px) {
    .author-image {
        margin-right: 1.25rem;
        margin-right: var(--measure-medium);
    }
}

@media screen and (min-width: 801px) {
    .author-image {
        margin-right: 0.625rem;
        margin-right: var(--measure-small);
    }
}

@supports ((-webkit-shape-outside: circle(50%)) or (shape-outside: circle(50%))) {
}

.author-name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
}
